<!--
   Project:       videoCapture
   File Name:     play
   Author:        Chaos
   Email:         life0531@foxmail.com
   Date:          2021/4/28
   Software:      PyCharm
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Video</title>
</head>
<body>
<div id="mainContainer">
    {% if status != 200 %}
        <h3>Cannot found the right video, please try again!</h3>
    {% else %}
        <h1>播放视频</h1>
        <hr>
        <video src="{{ video }}" controls="controls" autoplay="autoplay" id="input_video"></video>
        <hr>
        <h1>视频摘要</h1>
        <audio src="{{ tts_audio }}" id="tts_audio"></audio>
        <h3 style="display: None" id="summary">{{ summary }}</h3>
    {% endif %}
</div>
{% load static %}
<script>
    var video = document.getElementById("input_video");
    var summary = document.getElementById("summary");
    var audio = document.getElementById("tts_audio");
    video.onended = function () {
        summary.style.display = '';
        audio.play();
    }
</script>
</body>
</html>